#projects {
    background-color: var(--projects);
}

#pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 85vh;
    padding: 0 2vw 0 2vw;
    overflow: hidden;
}

#projects-text {
    width: 70vw;
    color: white;
}


#projects-text > p {
    margin: 0;
}