#projects {
    background-color: rgb(22, 38, 46);
}

#pro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 85vh;
    padding: 0 2vw 0 2vw;
    overflow: hidden;
}

#projects-text {
    color: white;
}