.slider {
    position: relative;
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 2px 2px 15px rgb(22, 38, 46)/* ,
                2px 2px 15px var(--projects-dark) */;
}

.right-arrow, .left-arrow  {
    position: absolute;
    width: 40px;
    top: 27vh;
    font-size: 3rem;
    background-color: white;
    color: rgb(22, 38, 46);
    box-shadow: 3px 3px 10px black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    border-radius: 0 50% 50% 0 ;
    left: 0;
}

.right-arrow {
    border-radius: 50% 0 0 50%;
    right: 0;
}

.left-arrow:hover, .right-arrow:hover{
    background-color: grey;
}

.no-slide {
    display: none;
}

.slide {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 1s ease;
}

.slide-active {
    opacity: 1;
    transition-duration: 1s;
    animation: show 1s ease-in-out;/* 
    animation-fill-mode: forwards; */
}

@keyframes show{
    from{
        opacity: 0;
    }
    to {
        opacity:1;
    }
}

.slide-img {
    max-width: 80vw;
    max-height: 60vh;
}

.project-title, .project-description {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(250, 225, 2, 0.6);
    color: rgb(14, 39, 107);
    font-size: 1.3em;
    box-shadow: 5px 0 5px black;
}

.project-title {
    top: 0;
}

.project-title > h3 {
    margin: 0;
    padding: 10px 0 10px 0;
}

.project-description{
    bottom: 0;
}

.project-description > p {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    margin: 0;
    padding: 10px 20px 10px 20px;
}

@media (max-width: 800px) {
    .slider {
        width: 100%;
    }

    .slide-img {
        max-width: 100%;
    }

    .project-title > h3 {
        font-size: 1em;
        padding: 10px;
    }

    .project-description > p {
        font-size: 0.8em;
    }

    .left-arrow:hover, .right-arrow:hover{
        background-color: white;
    }
}
