:root {
  --primary: rgb(30, 141, 179);
  --primary-dark: rgb(32, 144, 183);
  --primary-hell: rgb(217, 214, 37);
  --about: rgb(30, 107, 179);
  --about-dark: rgb(21, 78, 131);
  --about-hover: rgba(123, 178, 204, 0.6);
  --about-gradient: linear-gradient(90deg, rgb(30, 107, 179) 10%, rgb(30, 107, 179), rgb(12, 42, 70));
  --skills: rgb(37, 171, 217);
  --skills-dark: rgb(32, 144, 183);
  --skills-hover: rgba(207, 27, 192, 0.8);
  --projects: rgb(212, 127, 16);
  --projects-text-bg: rgb(70, 86, 187);
  --projects-dark: rgb(131, 79, 11);
  --projects-hover: rgba(219, 165, 65, 0.8);
  --contact: rgb(187, 34, 85);
  --contact-dark: rgb(119, 22, 54);
  --contact-hover: rgba(157, 35, 206, 0.8);
}

.App {
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 94vh;
  display: flex;
  margin: 0;
  padding: 0;
}

.page-container {
  width: 70%;
  margin-top: 10vh;
  /* background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid white;
  border-radius: 15px 15px 0 0;
  box-shadow: 2px 2px 15px black; */
}

/* navigation */

.menu-w {
  position: absolute;
  left: 0;
  width: 10%;
  min-width: 150px;
  max-width: 180px;
  height: 100%;
  z-index: 10;
  background-color: transparent;
}

nav {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  margin-left: 10px;
}

.about-btn {
  background: var(--about);
  box-shadow: 0 6px 0 var(--about-dark), 0 5px 15px -4px #000;
}

.about-btn:hover,
.about-btn:focus {
  background: var(--about-hover);
}

.skills-btn {
  background: var(--skills);
  box-shadow: 0 6px 0 var(--skills-dark), 0 5px 15px -4px #000;
}

.skills-btn:hover,
.skills-btn:focus {
  background: var(--skills-hover);
}

.projects-btn {
  background: var(--projects);
  box-shadow: 0 6px 0 var(--projects-dark), 0 5px 15px -4px #000;
}

.projects-btn:hover,
.projects-btn:focus {
  background: var(--projects-hover);
}

.contact-btn {
  background: var(--contact);
  box-shadow: 0 6px 0 var(--contact-dark), 0 5px 15px -4px #000;
}

.contact-btn:hover,
.contact-btn:focus {
  background: var(--contact-hover);
}

.nav-btn {
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: roboto;
  font-size: 20px;
  font-weight: 800;
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out, margin-top 0.2s ease-in-out,
  opacity 0.2s ease-in-out;
  width: 150px;
  margin-bottom: 30px;
}

.active {
  box-shadow: none;
  color: rgb(245, 225, 100);
  background-color: transparent;
}

.active:hover {
  background-color: transparent;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5em;
}

/* footer */

#footer {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top: 2px solid white;
  box-sizing: border-box;
}

.footer-about {
  background-color: var(--about);
}

.footer-skills {
  background-color: var(--skills);
}

.footer-projects {
  background-color: var(--projects);
}

.footer-contact {
  background-color: var(--contact);
}

#footer > h5 {
  margin: 0;
}

@media (max-width: 1200px){
  .page-container {
    width: 50%;
  }
}

@media (max-width: 800px){
  
  .menu-w {
    position: absolute;
    height: auto;
  }

  .page-container {
    width: 100%;
  }

  p {
    font-size: 1.2em;
  }

  nav {
    position: fixed;
    top: 2vmin;
    left: 2vmin;
    z-index: 10;
    padding-top: 0;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.9);
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    overflow: hidden;
  }

  .menuNav.showMenu {
    transform: translateX(0);
    transition: all .5s ease-in-out;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: rgb(216, 166, 100);
    text-transform: uppercase;
    font-weight: bold;
  }

  nav ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }

  nav li {
    background-color: rgb(216, 166, 100);
  }

  nav li:hover {
    color: white;
  }

  nav button{
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 1.5em;
    padding: 0.5em;
  }

  nav button:hover {
    background-color: rgb(22, 38, 46);
    color: white;
  }

  .nav-closed {
    color: rgb(245, 225, 100);
    width: 30px;
    height: 30px; 
  }

  .nav-open {
    color: #16262E;
    width: 6vw;
    height: 6vw;
  }

  .close-btn {
    font-size: 2em;
  }

  .close-btn:hover {
    background-color: white;
  }

  .active {
    background-color: var(--primary);
    font-size: 1.5em;
  }
}

@media (orientation: landscape) {
  section {
    overflow-y: auto;
  }
}